doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='Jun Kato')
    meta(property='fb:admins', content='503220390')
    link(rev='made', href='mailto:i@junkato.jp')
    title Awards and Publications | junkato.jp
    // Styles 
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Droid+Sans')
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/main.css', rel='stylesheet')
    // Le HTML5 shim, for IE6-8 support of HTML5 elements 
    //      [if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
          <![endif]
  body
    .navbar.navbar-default.navbar-fixed-top(data-dropdown='dropdown', role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navigation')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Jun Kato
        #navigation.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/#about') Profile
            li
              a(href='/#projects') Projects
            li.active
              a(href='/publications/') Awards & Publications
            li
              a(href='/fun/') Fun
            li
              a(href='/#contact') Contact
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/ja/publications/')
                | 日本語
                i.translation.icon-ja
    // container 
    .container
      section#firstsection
        h1#awards Awards and Fundings
        ul
          li
            span.category Mar. 2016,
            a(href='http://www.ipsj.or.jp/english/')
              abbr(title='Information Processing Society of Japan') IPSJ
            a(href='http://www.interaction-ipsj.org/2016/award') Interaction 2016 Interactive Presentation Award (Program Committee selection)
          li
            span.category Jul. 2015,
            a(href='http://www.maynoothuniversity.ie/smc15/')
              abbr(title='Sound and Music Conference') SMC
              | 2015 Best Paper
            | (for the co-authored
            a(href='https://staff.aist.go.jp/jun.kato/CrossSong/') CrossSong
            | paper)
          li
            span.category Apr. 2015,
            | ACM
            a(href='http://chi2015.acm.org/program/full-schedule/?id=pn160') CHI '15 Best Paper Honorable Mention Award
          li
            span.category Nov. 2014,
            a(href='http://www.jssst.or.jp/')
              abbr(title='Japan Society for Software Science and Technology') JSSST
            a(href='http://wiss.org/WISS2014/')
              abbr(title='Workshop on Interactive Systems and Software') WISS
              | 2014 Best Paper Award
          li
            span.category Nov. 2014,
            a(href='http://hai-conference.net/hai2014/program/#oct31')
              abbr(title='Human-Agent Interaction') HAI
              | 2014 Best Paper Nominee
          li
            span.category Aug. 2014,
            a(href='http://www.ipsj.or.jp/english/index.html')
              abbr(title='Information Processing Society of Japan') IPSJ
            abbr(title='Special Interest Group on Music and Computer') SIGMUS
            | Best Presentation Award
          li
            span.category Jul. 2014,
            | PhD dissertation selected for
            a(href='http://www.ipsj.or.jp/english/index.html')
              abbr(title='Information Processing Society of Japan') IPSJ
            a(href='http://www.ipsj.or.jp/magazine/hakase/index.html')
              | Quick Report on Doctoral Theses Recommended by
              abbr(title='Special Interest Groups') SIGs
          li
            span.category Oct. 2013,
            a(href='http://www.jidp.or.jp/en/')
              abbr(title='Japan Institute of Design Promotion') JDP
            a(href='http://www.g-mark.org/award/describe/40508') Good Design Award
            | for
            a(href='/openpool/') OpenPool
            | Project
          li
            span.category Jun. 2013,
            | ACM
            a(href='http://www.cs.wm.edu/~idillig/pldi13-src/') PLDI '13 Student Research Competition
            | Finalist
          li
            span.category Apr. 2013,
            | ACM
            a(href='http://chi2013.acm.org/program/best-of-chi/#NTQ') CHI '13 Best Paper Honorable Mention Award
          li
            span.category 2012,
            a(href='http://research.microsoft.com/en-us/collaboration/global/asia-pacific/talent/fellows.aspx#b1ab333b-9141-4718-8c56-f27f3cfbbcc1') Microsoft Research Asia Fellowship 2012 Award
          li
            span.category Apr. 2011 - Mar. 2012,
            | Microsoft Research
            a(href='http://research.microsoft.com/en-us/collaboration/global/asia-pacific/regions/japan-core.aspx') 7th Collaborative Research (CORE7) Program
            | Principal Investigator
          li
            span.category Apr. 2011 - Mar. 2014,
            | JSPS
            a(href='http://www.jsps.go.jp/english/e-pd/pddc.htm') Research Fellowships for Young Scientists (DC1)
          li
            span.category Nov. 2011,
            a(href='http://rit.rakuten.co.jp/conf/rrds4/index_en.html') 4th Rakuten Research & Development Symposium Best Research & Development Award
          li
            span.category 2010,
            | ACM
            a(href='http://src.acm.org/candidates2010.html') Student Research Competition Grand Finals
            | Finalist
          li
            span.category Aug. 2009,
            | ACM
            a(href='http://mi-lab.org/projects/cristal/') SIGGRAPH '09 Laval Virtual Award
            | (Best of Emerging Technologies)
          li
            span.category Apr. 2009,
            | ACM
            a(href='http://src.acm.org/previouswinners.html') CHI '09 Student Research Competition
            | 1st Place
          li
            span.category Dec. 2008 - Aug. 2009,
            | IPA
            a(href='http://www.ipa.go.jp/english/humandev/third.html') Exploratory IT Human Resources Project (MITOH)
      section
        h1 Talks
        ul
          li
            | Jun. 2017,
            a(href='http://hcii.cmu.edu')
              abbr(title='Carnegie Mellon University') CMU
              abbr(title='Human-Computer Interaction Institute') HCII
            | , Special Human-Computer Interaction Talk,
            a(href='https://www.scs.cmu.edu/calendar/mon-2017-06-26-1230/special-human-computer-interaction-talk') "Delivering Benefits of Programming to Everyone through Programming Experience Research"
            | ,
            a(href='https://scs.hosted.panopto.com/Panopto/Pages/Viewer.aspx?id=fd1c36b4-c0ad-49ef-b50c-aab0e5fa36b7')
              i.glyphicon.glyphicon-play-circle
              | Video
          li
            | Jun. 2017,
            a(href='http://dagstuhl.de/en/program/calendar/semhp/?semnr=17232') Dagstuhl Seminar 17232 (Computational Interactivity)
            | , "The Future of Programming and Data Sciences"
          li
            | Apr. and May 2016,
            a(href='http://vpri.org/') Viewpoints Research Institute
            | and
            a(href='https://blog.ycombinator.com/harc')
              | Y Combinator Research
              abbr(title='Human Advancement Research Community') HARC
            | , "Programming with {Examples | People}"
          li
            | Jul. 2015,
            a(href='http://big.cs.bris.ac.uk')
              | University of Bristol
              abbr(title='Bristol Interaction and Graphics') BIG
              | Group
            | seminar,
            a(href='http://www.bristol.ac.uk/engineering/events/2015/integrated-design-environments-for-creating-interactive-media-content.html') "Integrated Design Environments for Creating Interactive Media Content"
            // big.cs.bris.ac.uk/seminars/integrated-design-environments-for-creating-interactive-media-content 
          li
            | Jun. 2014,
            a(href='http://hci.cs.umanitoba.ca/')
              | University of Manitoba
              abbr(title='Human-Computer Interaction Laboratory') HCI Lab
            | seminar,
            a(href='http://www.cs.umanitoba.ca/events/event.php?event=2014-06-23-dr-jun-kato') "Toward Live Programming in the Real World"
          li
            | Jun. 2014,
            a(href='http://www.dgp.toronto.edu/')
              | University of Toronto
              abbr(title='Dynamic Graphics Project') DGP
            | seminar, "Toward Live Programming in the Real World"
          li
            | Oct. 2013,
            a(href='http://dub.washington.edu/')
              | University of Washington
              abbr(title='Design Use Build') dub
            | seminar, "Integrated Graphical Representations for Programming with Real-world Input and Output",
            a(href='http://vimeo.com/77669396')
              i.glyphicon.glyphicon-play-circle
              | Video
          li
            | May 2011
            a(href='http://research.microsoft.com/en-us/labs/asia/', title='IDE for Designing Actions of Robots') Microsoft Research Asia
            | ,
            a(href='/publications/core-project7-kato-booklet.pdf')
              i.glyphicon.glyphicon-file
              | Document
      section
        h1#publications Publications
        p
          a(href='/junkato.bib')
            i.glyphicon.glyphicon-file
            | BibTex file
          | including publications shown below is available for download. Domestic publication can be found on
          a(href='/ja/publications/#domestic') the Japanese page
          | .
        p.alert.alert-info
          i.glyphicon.glyphicon-info-sign
          b 7/14/2016 update:
          | My new journal article has been published in the IEEE Computer special issue on the 21st Century User Interfaces that discusses interaction design of programming environments that support development of data-intensive applications.
          a(href='http://dx.doi.org/10.1109/MC.2016.217')
            u Jun Kato
            | , Takeo Igarashi, and Masataka Goto.
            b "Programming with Examples to Develop Data-Intensive User Interfaces"
            | , Jul. 2016
          | .
        p.alert.alert-info
          i.glyphicon.glyphicon-info-sign
          b 9/23/2015 update:
          | My Ph.D dissertation finally got online on the university's repository.
          a(href='http://hdl.handle.net/2261/58372?locale=en')
            u Jun Kato
            | ,
            b "Integrated Graphical Representations for Development of Programs with Real-world Input and Output"
            | , Mar. 2014
          | .
        ul.nav.nav-tabs.nav-justified#publications-list-menu(style='margin:15px 0;')
          li
            a#publications-list-menu-paper(href='#publications', data-toggle='tab') Paper (archival and semi-archival)
          li
            a#publications-list-menu-poster(href='#publications', data-toggle='tab') Poster and demo (non-archival)
          li.active
            a#publications-list-menu-all(href='#publications', data-toggle='tab') All
        ol#publications-list
          li#dis2017-kato-f3js(data-numpages='12')
            u Jun Kato
            | , Masataka Goto,
            b "F3.Js: A Parametric Design Tool for Physical Computing Devices for Both Interaction Designers and End-users"
            | , In
            i Proceedings of the 2017 Conference on Designing Interactive Systems
            | . pp.1099-1110, 2017.
            .btn-group.biblinks
              a(href='http://doi.acm.org/10.1145/3064663.3064681')
                i.glyphicon.glyphicon-barcode
                abbr(title='Digital Object Identifier') DOI
              a(href='http://junkato.jp/publications/dis2017-kato-f3js.pdf')
                i.glyphicon.glyphicon-file
                | PDF
              a(href='http://junkato.jp/publications/dis2017-kato-f3js-slides.pdf')
                i.glyphicon.glyphicon-play-circle
                | Slides
              a(href='http://f3js.org/')
                i.glyphicon.glyphicon-info-sign
                | Website
            a.bibtex(href='#', data-title='<textarea onclick="this.focus();this.select();return false;" readonly="readonly">@inproceedings{dis2017-kato-f3js,
  title={F3.Js: A Parametric Design Tool for Physical Computing Devices for Both Interaction Designers and End-users},
  author={Jun Kato and Masataka Goto}
  booktitle={Proceedings of the 2017 Conference on Designing Interactive Systems},
  pages={1099--1110},
  year={2017}
}</textarea>')
              i.glyphicon.glyphicon-book
              | BibTeX
          li#px2017-kato-ugv(data-numpages='7')
            u Jun Kato
            | , Masataka Goto,
            b "User-Generated Variables: Streamlined Interaction Design for Feature Requests and Implementations"
            | , In
            i Companion to the First International Conference on the Art, Science and Engineering of Programming
            | . pp.28:1-28:7, 2017.
            .btn-group.biblinks
              a(href='http://doi.acm.org/10.1145/3079368.3079403')
                i.glyphicon.glyphicon-barcode
                abbr(title='Digital Object Identifier') DOI
              a(href='http://junkato.jp/publications/px2017-kato-ugv.pdf')
                i.glyphicon.glyphicon-file
                | PDF
              a(href='https://junkato.jp/ugv/')
                i.glyphicon.glyphicon-info-sign
                | Website
            a.bibtex(href='#', data-title='<textarea onclick="this.focus();this.select();return false;" readonly="readonly">@inproceedings{px2017-kato-ugv,
  title={User-Generated Variables: Streamlined Interaction Design for Feature Requests and Implementations},
  author={Jun Kato and Masataka Goto}
  booktitle={Companion to the First International Conference on the Art, Science and Engineering of Programming},
  pages={28:1--28:7},
  year={2017}
}</textarea>')
              i.glyphicon.glyphicon-book
              | BibTeX
          li#jnmr-smith-crosssong(data-numpages='16')
            | Jordan B.L. Smith,
            u Jun Kato
            | , Satoru Fukayama, Graham Percival, Masataka Goto,
            b "The CrossSong Puzzle: Developing a Logic Puzzle for Musical Thinking"
            | , In
            i Journal of New Music Research
            | . pp.1-16, 2017.
            .btn-group.biblinks
              a(href='http://dx.doi.org/10.1080/09298215.2017.1303519')
                i.glyphicon.glyphicon-barcode
                abbr(title='Digital Object Identifier') DOI
              a(href='https://staff.aist.go.jp/jun.kato/CrossSong/')
                i.glyphicon.glyphicon-info-sign
                | Website
            a.bibtex(href='#', data-title='<textarea onclick="this.focus();this.select();return false;" readonly="readonly">@article{jnmr-smith-crosssong,
  title={The CrossSong Puzzle: Developing a Logic Puzzle for Musical Thinking},
  author={ Jordan B.L. Smith and  Jun Kato and  Satoru Fukayama and  Graham Percival and  Masataka Goto}
  booktitle={Journal of New Music Research},
  pages={1-16},
  year={2017}
}</textarea>')
              i.glyphicon.glyphicon-book
              | BibTeX
          li#hri2017-kato-robocam
            u Jun Kato
            | , Masataka Goto,
            b "A Robotic Framework for Video Recording and Authoring"
            | , In
            i Proceedings of the Companion of the 2017 ACM/IEEE International Conference on Human-Robot Interaction
            | . pp.41-41, 2017.
            .btn-group.biblinks
              a(href='http://doi.acm.org/10.1145/3029798.3036666')
                i.glyphicon.glyphicon-barcode
                abbr(title='Digital Object Identifier') DOI
              a(href='http://junkato.jp/publications/hri2017-kato-robocam.pdf')
                i.glyphicon.glyphicon-file
                | PDF
              a(href='http://logs.f3js.org/')
                i.glyphicon.glyphicon-info-sign
                | Website
            a.bibtex(href='#', data-title='<textarea onclick="this.focus();this.select();return false;" readonly="readonly">@inproceedings{hri2017-kato-robocam,
  title={A Robotic Framework for Video Recording and Authoring},
  author={Jun Kato and Masataka Goto}
  booktitle={Proceedings of the Companion of the 2017 ACM/IEEE International Conference on Human-Robot Interaction},
  pages={41--41},
  year={2017}
}</textarea>')
              i.glyphicon.glyphicon-book
              | BibTeX
          li#live2016-kato-livetuning(data-numpages='6')
            u Jun Kato
            | , Masataka Goto,
            b "Live Tuning: Expanding Live Programming Benefits to Non-Programmers"
            | , In
            i Proceedings of the Second Workshop on Live Programming Systems
            | . 2016.
            .btn-group.biblinks
              a(href='http://junkato.jp/publications/live2016-kato-livetuning.pdf')
                i.glyphicon.glyphicon-file
                | PDF
              a(href='http://junkato.jp/publications/live2016-kato-livetuning-poster.pdf')
                i.glyphicon.glyphicon-file
                | Poster
              a(href='http://junkato.jp/live-tuning/')
                i.glyphicon.glyphicon-info-sign
                | Website
            a.bibtex(href='#', data-title='<textarea onclick="this.focus();this.select();return false;" readonly="readonly">@inproceedings{live2016-kato-livetuning,
  title={Live Tuning: Expanding Live Programming Benefits to Non-Programmers},
  author={ Jun Kato and  Masataka Goto}
  booktitle={Proceedings of the Second Workshop on Live Programming Systems},
  year={2016}
}</textarea>')
              i.glyphicon.glyphicon-book
              | BibTeX
          li#programming-with-examples(data-numpages='9')
            u Jun Kato
            | , Takeo Igarashi, Masataka Goto,
            b "Programming with Examples to Develop Data-Intensive User Interfaces"
            | , In
            i Computer 49(7)
            | . pp.34-42, Jul. 2016.
            b.addition Special Issue on 21st User Interfaces
            | .
            .btn-group.biblinks
              a(href='http://dx.doi.org/10.1109/MC.2016.217')
                i.glyphicon.glyphicon-barcode
                abbr(title='Digital Object Identifier') DOI
              a(href='http://junkato.jp/programming-with-examples/')
                i.glyphicon.glyphicon-info-sign
                | Website
            a.bibtex(href='#', data-title='<textarea onclick="this.focus();this.select();return false;" readonly="readonly">@article{programming-with-examples,
  title={Programming with Examples to Develop Data-Intensive User Interfaces},
  author={ Jun Kato and  Takeo Igarashi and  Masataka Goto}
  booktitle={Computer 49(7)},
  pages={34-42},
  year={2016}
}</textarea>')
              i.glyphicon.glyphicon-book
              | BibTeX
          li#iui2016-nakano-playlistplayer(data-numpages='5')
            | Tomoyasu Nakano,
            u Jun Kato
            | , Masahiro Hamasaki, Masataka Goto,
            b "PlaylistPlayer: An Interface Using Multiple Criteria to Change the Playback Order of a Music Playlist"
            | , In
            i Proceedings of the 21st International Conference on Intelligent User Interfaces
            | . pp.186-190, 2016.
            .btn-group.biblinks
              a(href='http://doi.acm.org/10.1145/2856767.2856809')
                i.glyphicon.glyphicon-barcode
                abbr(title='Digital Object Identifier') DOI
            a.bibtex(href='#', data-title='<textarea onclick="this.focus();this.select();return false;" readonly="readonly">@inproceedings{iui2016-nakano-playlistplayer,
  title={PlaylistPlayer: An Interface Using Multiple Criteria to Change the Playback Order of a Music Playlist},
  author={Tomoyasu Nakano and Jun Kato and Masahiro Hamasaki and Masataka Goto}
  booktitle={Proceedings of the 21st International Conference on Intelligent User Interfaces},
  pages={186--190},
  year={2016}
}</textarea>')
              i.glyphicon.glyphicon-book
              | BibTeX
          li#uist2015-kato-f3js-demo
            u Jun Kato
            | , Masataka Goto,
            b "Form Follows Function(): An IDE to Create Laser-cut Interfaces and Microcontroller Programs from Single Code Base"
            | , In
            i Proceedings of the 28th Annual ACM Symposium on User Interface Software and Technology
            | . pp.43-44, 2015.
            .btn-group.biblinks
              a(href='http://doi.acm.org/10.1145/2815585.2817797')
                i.glyphicon.glyphicon-barcode
                abbr(title='Digital Object Identifier') DOI
              a(href='http://junkato.jp/publications/uist2015-kato-f3js-demo.pdf')
                i.glyphicon.glyphicon-file
                | PDF
            a.bibtex(href='#', data-title='<textarea onclick="this.focus();this.select();return false;" readonly="readonly">@inproceedings{uist2015-kato-f3js-demo,
  title={Form Follows Function(): An IDE to Create Laser-cut Interfaces and Microcontroller Programs from Single Code Base},
  author={Jun Kato and Masataka Goto}
  booktitle={Proceedings of the 28th Annual ACM Symposium on User Interface Software and Technology},
  pages={43--44},
  year={2015}
}</textarea>')
              i.glyphicon.glyphicon-book
              | BibTeX
          li#smc2015-smith-crosssong(data-numpages='7')
            | Jordan Smith, Graham Parcival,
            u Jun Kato
            | , Masataka Goto, Satoru Fukayama,
            b "CrossSong Puzzle: Generating and Unscrambling Music Mash-ups with Real-time Interactivity"
            | , In
            i SMC '15: Proceedings of the 12nd Sound and Music Computing Conference
            | . pp.61-67, Jul. 2015.
            b.addition SMC 2015 Best Paper Award
            | .
            .btn-group.biblinks
              a(href='https://staff.aist.go.jp/jun.kato/CrossSong/smc2015-smith-crosssong.pdf')
                i.glyphicon.glyphicon-file
                | PDF
              a(href='https://staff.aist.go.jp/jun.kato/CrossSong/')
                i.glyphicon.glyphicon-info-sign
                | Website
            a.bibtex(href='#', data-title='<textarea onclick="this.focus();this.select();return false;" readonly="readonly">@inproceedings{smc2015-smith-crosssong,
  title={CrossSong Puzzle: Generating and Unscrambling Music Mash-ups with Real-time Interactivity},
  author={ Jordan Smith and  Graham Parcival and  Jun Kato and  Masataka Goto and  Satoru Fukayama}
  booktitle={SMC '15: Proceedings of the 12nd Sound and Music Computing Conference},
  pages={61--67},
  year={2015}
}</textarea>')
              i.glyphicon.glyphicon-book
              | BibTeX
          li#iclc2015-kato-textalive(data-numpages='6')
            u Jun Kato
            | , Tomoyasu Nakano, Masataka Goto,
            b "TextAlive Online: Live Programming of Kinetic Typography Videos with Online Music"
            | , In
            i ICLC '15: Proceedings of the First International Conference on Live Coding
            | . pp.199-205, Jul. 2015.
            .btn-group.biblinks
              a(href='http://dx.doi.org/10.5281/zenodo.19355')
                i.glyphicon.glyphicon-barcode
                abbr(title='Digital Object Identifier') DOI
            a.bibtex(href='#', data-title='<textarea onclick="this.focus();this.select();return false;" readonly="readonly">@inproceedings{iclc2015-kato-textalive,
  title={TextAlive Online: Live Programming of Kinetic 
                   Typography Videos with Online Music},
  author={ Jun Kato and  Tomoyasu Nakano and  Masataka Goto}
  booktitle={ICLC '15: Proceedings of the First International Conference 
                   on Live Coding},
  pages={199--205},
  year={2015}
}</textarea>')
              i.glyphicon.glyphicon-book
              | BibTeX
          li#chi2015-kato-textalive(data-numpages='10')
            u Jun Kato
            | , Tomoyasu Nakano, Masataka Goto,
            b "TextAlive: Integrated Design Environment for Kinetic Typography"
            | , In
            i Proceedings of the 33rd Annual ACM Conference on Human Factors in Computing Systems
            | . pp.3403-3412, 2015.
            b.addition ACM CHI 2015 Best Paper Honorable Mention Award
            | .
            .btn-group.biblinks
              a(href='http://doi.acm.org/10.1145/2702123.2702140')
                i.glyphicon.glyphicon-barcode
                abbr(title='Digital Object Identifier') DOI
              a(href='http://junkato.jp/publications/chi2015-kato-textalive.pdf')
                i.glyphicon.glyphicon-file
                | PDF
              a(href='http://junkato.jp/publications/chi2015-kato-textalive-slides.pdf')
                i.glyphicon.glyphicon-play-circle
                | Slides
            a.bibtex(href='#', data-title='<textarea onclick="this.focus();this.select();return false;" readonly="readonly">@inproceedings{chi2015-kato-textalive,
  title={TextAlive: Integrated Design Environment for Kinetic Typography},
  author={Jun Kato and Tomoyasu Nakano and Masataka Goto}
  booktitle={Proceedings of the 33rd Annual ACM Conference on Human Factors in Computing Systems},
  pages={3403--3412},
  year={2015}
}</textarea>')
              i.glyphicon.glyphicon-book
              | BibTeX
          li#hai2014-kato-sharedo(data-numpages='7')
            u Jun Kato
            | , Daisuke Sakamoto, Takeo Igarashi, Masataka Goto,
            b "Sharedo: To-do List Interface for Human-agent Task Sharing"
            | , In
            i Proceedings of the Second International Conference on Human-agent Interaction
            | . pp.345-351, 2014.
            b.addition HAI 2014 Best Paper Nominee
            | .
            .btn-group.biblinks
              a(href='http://doi.acm.org/10.1145/2658861.2658894')
                i.glyphicon.glyphicon-barcode
                abbr(title='Digital Object Identifier') DOI
              a(href='http://junkato.jp/publications/hai2014-kato-sharedo.pdf')
                i.glyphicon.glyphicon-file
                | PDF
              a(href='http://junkato.jp/publications/hai2014-kato-sharedo-slides.pdf')
                i.glyphicon.glyphicon-play-circle
                | Slides
            a.bibtex(href='#', data-title='<textarea onclick="this.focus();this.select();return false;" readonly="readonly">@inproceedings{hai2014-kato-sharedo,
  title={Sharedo: To-do List Interface for Human-agent Task Sharing},
  author={Jun Kato and Daisuke Sakamoto and Takeo Igarashi and Masataka Goto}
  booktitle={Proceedings of the Second International Conference on Human-agent Interaction},
  pages={345--351},
  year={2014}
}</textarea>')
              i.glyphicon.glyphicon-book
              | BibTeX
          li#gi2014-kato-visionsketch(data-numpages='8')
            u Jun Kato
            | , Takeo Igarashi,
            b "VisionSketch: Integrated Support for Example-centric Programming of Image Processing Applications"
            | , In
            i Proceedings of the 2014 Graphics Interface Conference
            | . pp.115-122, 2014.
            .btn-group.biblinks
              a(href='http://dl.acm.org/citation.cfm?id=2619648.2619668')
                i.glyphicon.glyphicon-barcode
                abbr(title='Digital Object Identifier') DOI
              a(href='http://junkato.jp/publications/gi2014-kato-visionsketch.pdf')
                i.glyphicon.glyphicon-file
                | PDF
              a(href='http://junkato.jp/publications/gi2014-kato-visionsketch-slides.pdf')
                i.glyphicon.glyphicon-play-circle
                | Slides
            a.bibtex(href='#', data-title='<textarea onclick="this.focus();this.select();return false;" readonly="readonly">@inproceedings{gi2014-kato-visionsketch,
  title={VisionSketch: Integrated Support for Example-centric Programming of Image Processing Applications},
  author={Jun Kato and Takeo Igarashi}
  booktitle={Proceedings of the 2014 Graphics Interface Conference},
  pages={115--122},
  year={2014}
}</textarea>')
              i.glyphicon.glyphicon-book
              | BibTeX
          li#chi2014-fukahori-capstudio(data-numpages='6')
            | Koumei Fukahori, Daisuke Sakamoto,
            u Jun Kato
            | , Takeo Igarashi,
            b "CapStudio: An Interactive Screencast for Visual Application Development"
            | , In
            i CHI '14 EA: Extended Abstracts on Human Factors in Computing Systems
            | . pp.1453-1458, 2014.
            .btn-group.biblinks
              a(href='http://doi.acm.org/10.1145/2559206.2581138')
                i.glyphicon.glyphicon-barcode
                abbr(title='Digital Object Identifier') DOI
              a(href='http://www-ui.is.s.u-tokyo.ac.jp/~fukahori/CHI_WIP_cameraready2.pdf')
                i.glyphicon.glyphicon-file
                | PDF
              a(href='http://junkato.jp/publications/chi2014-fukahori-capstudio-poster.pdf')
                i.glyphicon.glyphicon-file
                | Poster
            a.bibtex(href='#', data-title='<textarea onclick="this.focus();this.select();return false;" readonly="readonly">@inproceedings{chi2014-fukahori-capstudio,
  title={CapStudio: An Interactive Screencast for Visual Application Development},
  author={Koumei Fukahori and Daisuke Sakamoto and Jun Kato and Takeo Igarashi}
  booktitle={CHI '14 EA: Extended Abstracts on Human Factors in Computing Systems},
  pages={1453--1458},
  year={2014}
}</textarea>')
              i.glyphicon.glyphicon-book
              | BibTeX
          li#uist2013-kato
            u Jun Kato
            | ,
            b "Integrated Visual Representations for Programming with Real-world Input and Output"
            | , In
            i UIST '13: Proceedings of the adjunct publication of the 26th annual ACM symposium on User Interface Software and Technology
            | . pp.57-60, 2013.
            .btn-group.biblinks
              a(href='http://doi.acm.org/10.1145/2508468.2508476')
                i.glyphicon.glyphicon-barcode
                abbr(title='Digital Object Identifier') DOI
              a(href='http://junkato.jp/publications/uist2013-kato.pdf')
                i.glyphicon.glyphicon-file
                | PDF
              a(href='http://junkato.jp/publications/uist2013-kato-poster.pdf')
                i.glyphicon.glyphicon-file
                | Poster
            a.bibtex(href='#', data-title='<textarea onclick="this.focus();this.select();return false;" readonly="readonly">@inproceedings{uist2013-kato,
  title={Integrated Visual Representations for Programming with Real-world Input and Output},
  author={Jun Kato}
  booktitle={UIST '13: Proceedings of the adjunct publication of the 26th annual ACM symposium on User Interface Software and Technology},
  pages={57--60},
  year={2013}
}</textarea>')
              i.glyphicon.glyphicon-book
              | BibTeX
          li#gcce2013-kato-openpool(data-numpages='2')
            u Jun Kato
            | , Takashi Nakashima, Hideki Takeoka, Kazunori Ogasawara, Kazuma Murao, Toshinari Shimokawa, Masaaki Sugimoto,
            b "OpenPool: Community-based Prototyping of Digitally-augmented Billiard Table"
            | , In
            i GCCE '13: Proceedings of the 2nd IEEE Global Conference on Consumer Electronics
            | . pp.175-176, Oct. 2013.
            .btn-group.biblinks
              a(href='http://dx.doi.org/10.1109/GCCE.2013.6664790')
                i.glyphicon.glyphicon-barcode
                abbr(title='Digital Object Identifier') DOI
              a(href='http://junkato.jp/publications/gcce2013-kato-openpool.pdf')
                i.glyphicon.glyphicon-file
                | PDF
              a(href='http://junkato.jp/publications/gcce2013-kato-openpool-slides.pdf')
                i.glyphicon.glyphicon-play-circle
                | Slides
            a.bibtex(href='#', data-title='<textarea onclick="this.focus();this.select();return false;" readonly="readonly">@inproceedings{gcce2013-kato-openpool,
  title={OpenPool: Community-based Prototyping of Digitally-augmented Billiard Table},
  author={Jun Kato and Takashi Nakashima and Hideki Takeoka and Kazunori Ogasawara and Kazuma Murao and Toshinari Shimokawa and Masaaki Sugimoto}
  booktitle={GCCE '13: Proceedings of the 2nd IEEE Global Conference on Consumer Electronics},
  pages={175--176},
  year={2013}
}</textarea>')
              i.glyphicon.glyphicon-book
              | BibTeX
          li#pldi2013-kato-visionsketch
            u Jun Kato
            | ,
            b "Visionsketch: Gesture-based Language for End-user Computer Vision Programming"
            | , In
            i Student Research Competition at PLDI '13: The 34th ACM SIGPLAN conference on Programming Language Design and Implementation
            | . Jun. 2013.
            b.addition ACM PLDI 2013 Student Research Competition Finalist
            | .
            .btn-group.biblinks
              a(href='http://junkato.jp/publications/pldi2013-kato-visionsketch.pdf')
                i.glyphicon.glyphicon-file
                | PDF
              a(href='http://junkato.jp/publications/pldi2013-kato-visionsketch-poster.pdf')
                i.glyphicon.glyphicon-file
                | Poster
              a(href='http://junkato.jp/publications/pldi2013-kato-visionsketch-slides.pdf')
                i.glyphicon.glyphicon-play-circle
                | Slides
              a(href='http://junkato.jp/visionsketch/')
                i.glyphicon.glyphicon-info-sign
                | Website
            a.bibtex(href='#', data-title='<textarea onclick="this.focus();this.select();return false;" readonly="readonly">@inproceedings{pldi2013-kato-visionsketch,
  title={Visionsketch: Gesture-based Language for End-user Computer Vision Programming},
  author={Jun Kato}
  booktitle={Student Research Competition at PLDI '13: The 34th ACM SIGPLAN conference on Programming Language Design and Implementation},
  year={2013}
}</textarea>')
              i.glyphicon.glyphicon-book
              | BibTeX
          li#pldi2013-kato-alive(data-numpages='10')
            | Sebastian Burckhardt, Manuel Fahndrich, Peli Halleux, Sean McDirmid, Michal Moskal, Nikolai Tillmann,
            u Jun Kato
            | ,
            b "It's Alive! Continuous Feedback in UI Programming"
            | , In
            i PLDI '13: Proceedings of the 34th ACM SIGPLAN Conference on Programming Language Design and Implementation
            | . pp.95-104, 2013.
            .btn-group.biblinks
              a(href='http://doi.acm.org/10.1145/2491956.2462170')
                i.glyphicon.glyphicon-barcode
                abbr(title='Digital Object Identifier') DOI
              a(href='http://research.microsoft.com/apps/pubs/default.aspx?id=189242')
                i.glyphicon.glyphicon-file
                | PDF
              a(href='http://research.microsoft.com/apps/pubs/default.aspx?id=189242')
                i.glyphicon.glyphicon-play-circle
                | Slides
              a(href='http://touchdevelop.com/app/')
                i.glyphicon.glyphicon-info-sign
                | Website
            a.bibtex(href='#', data-title='<textarea onclick="this.focus();this.select();return false;" readonly="readonly">@inproceedings{pldi2013-kato-alive,
  title={It's Alive! Continuous Feedback in UI Programming},
  author={Sebastian Burckhardt and Manuel Fahndrich and Peli Halleux and Sean McDirmid and Michal Moskal and Nikolai Tillmann and Jun Kato}
  booktitle={PLDI '13: Proceedings of the 34th ACM SIGPLAN Conference on Programming Language Design and Implementation},
  pages={95--104},
  year={2013}
}</textarea>')
              i.glyphicon.glyphicon-book
              | BibTeX
          li#chi2013-kato-picode(data-numpages='4')
            u Jun Kato
            | , Daisuke Sakamoto, Takeo Igarashi,
            b "Picode: Inline Photos Representing Posture Data in Source Code"
            | , In
            i CHI '13: Proceedings of the SIGCHI conference on Human Factors in Computing Systems
            | . pp.3097-3100, Apr. 2013.
            b.addition ACM CHI 2013 Best Paper Honorable Mention Award
            | .
            .btn-group.biblinks
              a(href='http://doi.acm.org/10.1145/2470654.2466422')
                i.glyphicon.glyphicon-barcode
                abbr(title='Digital Object Identifier') DOI
              a(href='http://junkato.jp/publications/chi2013-kato-picode.pdf')
                i.glyphicon.glyphicon-file
                | PDF
              a(href='http://junkato.jp/publications/chi2013-kato-picode-slides.pdf')
                i.glyphicon.glyphicon-play-circle
                | Slides
              a(href='http://junkato.jp/picode/')
                i.glyphicon.glyphicon-info-sign
                | Website
            a.bibtex(href='#', data-title='<textarea onclick="this.focus();this.select();return false;" readonly="readonly">@inproceedings{chi2013-kato-picode,
  title={Picode: Inline Photos Representing Posture Data in Source Code},
  author={Jun Kato and Daisuke Sakamoto and Takeo Igarashi}
  booktitle={CHI '13: Proceedings of the SIGCHI conference on Human Factors in Computing Systems},
  pages={3097--3100},
  year={2013}
}</textarea>')
              i.glyphicon.glyphicon-book
              | BibTeX
          li#uist2012-kato-dejavu(data-numpages='8')
            u Jun Kato
            | , Sean McDirmid, Xiang Cao,
            b "DejaVu: Integrated Support for Developing Interactive Camera-Based Programs"
            | , In
            i UIST '12: Proceedings of the 25th annual ACM symposium on User Interface Software and Technology
            | . pp.189-196, Oct. 2012.
            .btn-group.biblinks
              a(href='http://doi.acm.org/10.1145/2380116.2380142')
                i.glyphicon.glyphicon-barcode
                abbr(title='Digital Object Identifier') DOI
              a(href='http://junkato.jp/publications/uist2012-kato-dejavu.pdf')
                i.glyphicon.glyphicon-file
                | PDF
              a(href='http://junkato.jp/publications/uist2012-kato-dejavu-poster.pdf')
                i.glyphicon.glyphicon-file
                | Poster
              a(href='http://junkato.jp/publications/uist2012-kato-dejavu-slides.pdf')
                i.glyphicon.glyphicon-play-circle
                | Slides
              a(href='http://junkato.jp/dejavu/')
                i.glyphicon.glyphicon-info-sign
                | Website
            a.bibtex(href='#', data-title='<textarea onclick="this.focus();this.select();return false;" readonly="readonly">@inproceedings{uist2012-kato-dejavu,
  title={DejaVu: Integrated Support for Developing Interactive Camera-Based Programs},
  author={Jun Kato and Sean McDirmid and Xiang Cao}
  booktitle={UIST '12: Proceedings of the 25th annual ACM symposium on User Interface Software and Technology},
  pages={189--196},
  year={2012}
}</textarea>')
              i.glyphicon.glyphicon-book
              | BibTeX
          li#dis2012-kato-phybots(data-numpages='10')
            u Jun Kato
            | , Daisuke Sakamoto, Takeo Igarashi,
            b "Phybots: A Toolkit for Making Robotic Things"
            | , In
            i DIS '12: Proceedings of the 9th conference on Designing Interactive Systems
            | . pp.248-257, Jun. 2012.
            .btn-group.biblinks
              a(href='http://doi.acm.org/10.1145/2317956.2317996')
                i.glyphicon.glyphicon-barcode
                abbr(title='Digital Object Identifier') DOI
              a(href='http://junkato.jp/publications/dis2012-kato-phybots.pdf')
                i.glyphicon.glyphicon-file
                | PDF
              a(href='http://junkato.jp/publications/dis2012-kato-phybots-slides.pdf')
                i.glyphicon.glyphicon-play-circle
                | Slides
              a(href='http://phybots.com/')
                i.glyphicon.glyphicon-info-sign
                | Website
            a.bibtex(href='#', data-title='<textarea onclick="this.focus();this.select();return false;" readonly="readonly">@inproceedings{dis2012-kato-phybots,
  title={Phybots: A Toolkit for Making Robotic Things},
  author={Jun Kato and Daisuke Sakamoto and Takeo Igarashi}
  booktitle={DIS '12: Proceedings of the 9th conference on Designing Interactive Systems},
  pages={248--257},
  year={2012}
}</textarea>')
              i.glyphicon.glyphicon-book
              | BibTeX
          li#uist2010-kato-surfboard
            u Jun Kato
            | , Daisuke Sakamoto, Takeo Igarashi,
            b "Surfboard: Keyboard with Microphone as a Low-cost Interactive Surface"
            | , In
            i UIST '10: Adjunct proceedings of the 23nd annual ACM symposium on User Interface Software and Technology
            | . pp.387-388, Oct. 2010.
            .btn-group.biblinks
              a(href='http://doi.acm.org/10.1145/1866218.1866233')
                i.glyphicon.glyphicon-barcode
                abbr(title='Digital Object Identifier') DOI
              a(href='http://junkato.jp/publications/uist2010-kato-surfboard.pdf')
                i.glyphicon.glyphicon-file
                | PDF
              a(href='http://junkato.jp/publications/uist2010-kato-surfboard-poster.pdf')
                i.glyphicon.glyphicon-file
                | Poster
              a(href='http://junkato.jp/surfboard/')
                i.glyphicon.glyphicon-info-sign
                | Website
            a.bibtex(href='#', data-title='<textarea onclick="this.focus();this.select();return false;" readonly="readonly">@inproceedings{uist2010-kato-surfboard,
  title={Surfboard: Keyboard with Microphone as a Low-cost Interactive Surface},
  author={Jun Kato and Daisuke Sakamoto and Takeo Igarashi}
  booktitle={UIST '10: Adjunct proceedings of the 23nd annual ACM symposium on User Interface Software and Technology},
  pages={387--388},
  year={2010}
}</textarea>')
              i.glyphicon.glyphicon-book
              | BibTeX
          li#uist2009-kato-andy
            | Daisuke Sakamoto,
            u Jun Kato
            | , Masahiko Inami, Takeo Igarashi,
            b "A Toolkit for Easy Development of Mobile Robot Applications with Visual Markers and a Ceiling Camera"
            | , In
            i UIST '09: 22nd symposium on User Interface Software and Technology
            | . Oct. 2009.
            .btn-group.biblinks
              a(href='http://junkato.jp/publications/uist2009-sakamoto-andy.pdf')
                i.glyphicon.glyphicon-file
                | PDF
              a(href='http://phybots.com/')
                i.glyphicon.glyphicon-info-sign
                | Website
            a.bibtex(href='#', data-title='<textarea onclick="this.focus();this.select();return false;" readonly="readonly">@inproceedings{uist2009-kato-andy,
  title={A Toolkit for Easy Development of Mobile Robot Applications with Visual Markers and a Ceiling Camera},
  author={Daisuke Sakamoto and Jun Kato and Masahiko Inami and Takeo Igarashi}
  booktitle={UIST '09: 22nd symposium on User Interface Software and Technology},
  year={2009}
}</textarea>')
              i.glyphicon.glyphicon-book
              | BibTeX
          li#siggraph2009-kato-cristal
            | Thomas Seifried, Christian Rendl, Florian Perteneder, Jakob Leitner, Michael Haller, Daisuke Sakamoto,
            u Jun Kato
            | , Masahiko Inami, Stacey D. Scott,
            b "CRISTAL, Control of Remotely Interfaced Systems using Touch-based Actions in Living Spaces"
            | , In
            i SIGGRAPH '09: ACM SIGGRAPH 2009 Emerging Technologies
            | . Aug. 2009.
            b.addition Laval Virtual Award (Best of Emerging Technologies)
            | .
            .btn-group.biblinks
              a(href='http://doi.acm.org/10.1145/1597956.1597962')
                i.glyphicon.glyphicon-barcode
                abbr(title='Digital Object Identifier') DOI
              a(href='http://designinterface.jp/projects/CRISTAL/cristal-2009.pdf')
                i.glyphicon.glyphicon-file
                | PDF
              a(href='http://designinterface.jp/en/projects/CRISTAL/')
                i.glyphicon.glyphicon-info-sign
                | Website
            a.bibtex(href='#', data-title='<textarea onclick="this.focus();this.select();return false;" readonly="readonly">@inproceedings{siggraph2009-kato-cristal,
  title={CRISTAL, Control of Remotely Interfaced Systems using Touch-based Actions in Living Spaces},
  author={Thomas Seifried and Christian Rendl and Florian Perteneder and Jakob Leitner and Michael Haller and Daisuke Sakamoto and Jun Kato and Masahiko Inami and Stacey D. Scott}
  booktitle={SIGGRAPH '09: ACM SIGGRAPH 2009 Emerging Technologies},
  year={2009}
}</textarea>')
              i.glyphicon.glyphicon-book
              | BibTeX
          li#chi2009-kato-multirobot(data-numpages='6')
            u Jun Kato
            | , Daisuke Sakamoto, Masahiko Inami, Takeo Igarashi,
            b "Multi-touch Interface for Controlling Multiple Mobile Robots"
            | , In
            i CHI '09 EA: Extended Abstracts on Human Factors in Computing Systems
            | . pp.3443-3448, Apr. 2009.
            b.addition ACM CHI 2009 Student Research Competition 1st Place
            | .
            .btn-group.biblinks
              a(href='http://doi.acm.org/10.1145/1520340.1520500')
                i.glyphicon.glyphicon-barcode
                abbr(title='Digital Object Identifier') DOI
              a(href='http://junkato.jp/publications/chi2009-kato-multirobot.pdf')
                i.glyphicon.glyphicon-file
                | PDF
              a(href='http://junkato.jp/publications/chi2009-kato-multirobot-poster.pdf')
                i.glyphicon.glyphicon-file
                | Poster
              a(href='http://junkato.jp/publications/chi2009-kato-multirobot-slides.pdf')
                i.glyphicon.glyphicon-play-circle
                | Slides
              a(href='http://src.acm.org/2010/JunKato/srcgf10-jun/')
                i.glyphicon.glyphicon-info-sign
                | Website
            a.bibtex(href='#', data-title='<textarea onclick="this.focus();this.select();return false;" readonly="readonly">@inproceedings{chi2009-kato-multirobot,
  title={Multi-touch Interface for Controlling Multiple Mobile Robots},
  author={Jun Kato and Daisuke Sakamoto and Masahiko Inami and Takeo Igarashi}
  booktitle={CHI '09 EA: Extended Abstracts on Human Factors in Computing Systems},
  pages={3443--3448},
  year={2009}
}</textarea>')
              i.glyphicon.glyphicon-book
              | BibTeX
      footer
        hr
        p
          | ©
          a(href='mailto:i@junkato.jp') Jun Kato
          | 2012-2017 |
          a(href='/ja/publications/')
            | 日本語
            i.translation.icon-ja
      // Scripts 
      script(src='//code.jquery.com/jquery-1.11.3.min.js')
      script(src='/js/bootstrap.min.js')
      script(type='text/javascript') (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-2538649-10', 'auto');
  ga('send', 'pageview');

  $(function(){
    var a = $('a.bibtex'), lastTooltip = null;
    a.tooltip({ trigger: "manual", html: true, template: '<div class="tooltip bibtex"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>' });
    a.click(function(e){ e.preventDefault(); if (lastTooltip !== this) $(lastTooltip).tooltip('hide'); lastTooltip = this; $(lastTooltip).tooltip('toggle'); return false; });
  });
      script $(function(){

$('#publications-list-menu-paper').click(function() {
  $(this).tab('show');
  $('#publications-list li[data-numpages]').show();
  $('#publications-list li:not([data-numpages])').hide();
});
$('#publications-list-menu-poster').click(function() {
  $(this).tab('show');
  $('#publications-list li[data-numpages]').hide();
  $('#publications-list li:not([data-numpages])').show();
});
$('#publications-list-menu-all').click(function() {
  $(this).tab('show');
  $('#publications-list li[data-numpages]').show();
  $('#publications-list li:not([data-numpages])').show();
});

$('#publications-list-menu-paper').tab('show');
$('#publications-list li[data-numpages]').show();
$('#publications-list li:not([data-numpages])').hide();
});
    // /container 